body { 
    margin: 0;
}

#alb-container { 
    display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
    padding-top: 100px;
    justify-content: center;
    align-content: center;
} 

figure {
    width: 172px;
    height: 362px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    height: 174px;
    width: 174px;
}

header { 
    position: fixed;
    margin: 0;
    height: fit-content;
    width: 100vw;
    background-color: bisque;
    padding: 15px;
}